In [15]:
from scipy.stats import levene
import pandas as pd
import csv

acc = {"nnb":[], "2nb":[], "hirevue":[], "basic":[]}
with open("stats.csv", "r") as fi:
    reader = csv.reader(fi)
    for line in reader:
        acc[line[0]].append(line[1:])
nnb = pd.DataFrame(acc["nnb"], columns=["race", "fp", "fn", "acc"])
nnb.apply(pd.to_numeric)

nb2 = pd.DataFrame(acc["2nb"], columns=["race", "fp", "fn", "acc"])
nb2.apply(pd.to_numeric)

hirevue = pd.DataFrame(acc["hirevue"], columns=["race", "fp", "fn", "acc"])
hirevue.apply(pd.to_numeric)

basic = pd.DataFrame(acc["basic"], columns=["race", "fp", "fn", "acc"])
basic.apply(pd.to_numeric)

   race        fp        fn       acc
0     2  0.126663  0.043061  0.830276
1     3  0.082278  0.047468  0.870253
2     4  0.048193  0.018072  0.933735
3     5  0.102564  0.051282  0.846154
4     6  0.180324  0.036893  0.782783
5     7  0.141264  0.052045  0.806691
6     8  0.054100  0.056346  0.889554
7     9  0.128576  0.039381  0.832043
8     1  0.182721  0.056815  0.760463

Brown Forsyth Tests to confirm that differences in variance are statistically significant.

In [19]:
levene(pd.to_numeric(nnb['acc']), pd.to_numeric(basic['acc']), center='median')

LeveneResult(statistic=0.30167032017268597, pvalue=0.590421156826533)

In [20]:
levene(pd.to_numeric(nb2['acc']), pd.to_numeric(basic['acc']), center='median')

LeveneResult(statistic=0.022534115508631623, pvalue=0.8825509948639674)

McNemar Test to compare classifier accuracies of Hirevue and nNB models